<div
  class="card"
  style="align-items: center; width: 30%; margin: auto; margin-top: 5%"
>
  <tr>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired style="margin-top: 5%"
      >Lunes</nz-form-label
    >
    <td>
      <input
        type="time"
        [(ngModel)]="timea"
        (ngModelChange)="horasLunI($event)"
        step="900"
        class="form-control"
      />
      <div class="form-text">Hora de Entrada</div>
    </td>
    <td>
      <input
        type="time"
        [(ngModel)]="timeb"
        (ngModelChange)="horasLunO($event)"
        step="900"
        class="form-control"
      />
      <div class="form-text">Hora de Salida</div>
    </td>
  </tr>
  <tr>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Martes</nz-form-label>
    <td>
      <input type="time" id="MaI" step="900" class="form-control" />
      <div class="form-text">Hora de Entrada</div>
    </td>
    <td>
      <input type="time" id="MaO" step="900" class="form-control" />
      <div class="form-text">Hora de Salida</div>
    </td>
  </tr>
  <tr>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Miércoles</nz-form-label>
    <td>
      <input type="time" id="MiI" step="900" class="form-control" />
      <div class="form-text">Hora de Entrada</div>
    </td>
    <td>
      <input type="time" id="MiO" step="900" class="form-control" />
      <div class="form-text">Hora de Salida</div>
    </td>
  </tr>
  <tr>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Jueves</nz-form-label>
    <td>
      <input type="time" id="JuI" step="900" class="form-control" />
      <div class="form-text">Hora de Entrada</div>
    </td>
    <td>
      <input type="time" id="JuO" step="900" class="form-control" />
      <div class="form-text">Hora de Salida</div>
    </td>
  </tr>
  <tr>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Viernes</nz-form-label>
    <td>
      <input type="time" id="ViI" step="900" class="form-control" />
      <div class="form-text">Hora de Entrada</div>
    </td>
    <td>
      <input type="time" id="ViO" step="900" class="form-control" />
      <div class="form-text">Hora de Salida</div>
    </td>
  </tr>
  <tr>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Sábado</nz-form-label>
    <td>
      <input type="time" id="SaI" step="900" class="form-control" />
      <div class="form-text">Hora de Entrada</div>
    </td>
    <td>
      <input type="time" id="SaO" step="900" class="form-control" />
      <div class="form-text">Hora de Salida</div>
    </td>
  </tr>
  <tr>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Domingo</nz-form-label>
    <td>
      <input type="time" id="DoI" step="900" class="form-control" />
      <div class="form-text">Hora de Entrada</div>
    </td>
    <td>
      <input type="time" id="DoO" step="900" class="form-control" />
      <div class="form-text">Hora de Salida</div>
    </td>
  </tr>
  <button
    type="button"
    class="btn btn-primary"
    (click)="calculo()"
    [disabled]="horasForm.invalid"
    style="margin-bottom: 5%; margin-top: 3%"
  >
    Calcular
  </button>
</div>
